@model IEnumerable<Blog.Models.User>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Přehled příspěvků";
    
    
    
}

<h1>@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Vložit nový příspěvek", "Create", null, new { @class= "btn"})
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Titul před jménem</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Titul za jménem</th>
        <th>Ulice</th>
        <th>Č. popisné</th>
        <th>Město</th>
        <th>PSČ</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DegreeBefore)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
            <td>@Html.DisplayFor(modelItem => item.DegreeAfter)</td>
            <td>@Html.DisplayFor(modelItem => item.Street)</td>
            <td>@Html.DisplayFor(modelItem => item.StreetNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Town)</td>
            <td>@Html.DisplayFor(modelItem => item.Zipcode)</td>

            <td>
                @Html.ActionLink("Upravit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </tbody>

</table>
